<!-- <ion-row class="ion-justify-content-center">
          <ion-col size="6" *ngIf="mostrarLista"> 
            <ion-card class = "lista">
              <ion-card-header>
                <ion-card-title>Lista</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-label class = "titulos">
                    <h3>ID</h3>
                    <h3>Modelo</h3>
                    <h3>Marca</h3>
                    <h3>Ano</h3>
                    <h3>Tipo</h3>
                    <h3>Ação</h3>
                </ion-label>
              </ion-card-content>
              <ion-card-content>
                <ion-item *ngFor="let item of lista">
                  <ion-label class = "itens">
                    <p>{{ item.id }}</p>
                    <p>{{ item.modelo }}</p>
                    <p>{{ item.marca }}</p>
                    <p>{{ item.ano }}</p>
                    <p>{{ item.tipo }}</p>
                    <ion-button color="danger" (click)="deletar(item.id)">
                      <ion-icon name="trash-outline"></ion-icon>
                    </ion-button>
                  </ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>    -->
