ion-header{
    display: flex;
    flex-direction: row;
    justify-content:right;
    background-color: black;
    padding: 0;
    margin: 0;
}

.voar{
    color: cyan;
}

.aviao{
    height: 50px;
    margin-left: 20px;
}

ion-title, ion-card-titles{
    font-weight: bold;
}
