<ion-header>
  <ion-row>

    <ion-col size = "2">
      <ion-item lines = "none" routerLink = "/home">

        <ion-thumbnail slot = "start">
          <img src="https://cdn0.iconfinder.com/data/icons/coloricons/50/50X50-14-256.png">
        </ion-thumbnail>

        <ion-label>Página inicial</ion-label>

      </ion-item>
    </ion-col>


    <ion-col size = "2">
      <ion-item lines = "none" routerLink = "/personagens">

        <ion-thumbnail slot = "start">
          <img src="https://cdn0.iconfinder.com/data/icons/coloricons/50/50X50-16-512.png">
        </ion-thumbnail>

        <ion-label>Personagens</ion-label>

      </ion-item>
    </ion-col>


    <ion-col size = "2">
      <ion-item lines = "none" routerLink = "/contato">

        <ion-thumbnail slot = "start">
          <img src="https://cdn0.iconfinder.com/data/icons/coloricons/50/50X50-13-512.png">
        </ion-thumbnail>

        <ion-label>Contato</ion-label>

      </ion-item>
    </ion-col>


  </ion-row>
</ion-header>