<ion-content [fullscreen]="true">
    <app-cabecalho title = "Página de personagens" subtitle = "Visualize os principais de Mortal Kombat"></app-cabecalho>
    <app-menu></app-menu>

    <ion-row class = "ion-justify-content-center">

          <ion-col size = "3">
            <img src="https://i.pinimg.com/564x/0d/2d/c9/0d2dc9dc2e8d804f96fce823775f81b3.jpg">
          </ion-col>

          <ion-col size = "3">
            <img src="https://i.pinimg.com/originals/67/18/e4/6718e4b4a59c9f86b4bed8b053a2f36d.jpg">
          </ion-col>

          <ion-col size = "3">
            <img src="https://static.wikia.nocookie.net/herois-do-multiverso-universo/images/3/30/Mortal-kombat-9-kung-lao-portrait.jpg/revision/latest?cb=20180721103857&path-prefix=pt">
          </ion-col>

    </ion-row>

</ion-content>
