<app-cabecalho title = "FLIGHT"></app-cabecalho>
<!-- <app-cadastro></app-cadastro> -->

  <ion-content [fullscreen]="true">
        <ion-row class="ion-justify-content-center">
          <ion-title class = "cadastro">CADASTRO</ion-title>
          <ion-col size="6">
            <ion-label>Modelo</ion-label>
            <ion-input placeholder="ex: Boeing 737" [(ngModel)]="this.contato.modelo"></ion-input>
          </ion-col>
          <ion-col size="6">
            <ion-label>Marca</ion-label>
            <ion-input placeholder="ex: Boeing" [(ngModel)]="this.contato.marca"></ion-input>
          </ion-col>
          <ion-col size="6">
            <ion-label>Ano de Fabricação</ion-label>
            <ion-input placeholder="ex: 2015" [(ngModel)]="this.contato.anoFabricacao" ></ion-input>
          </ion-col>
          <ion-col size="6">
            <ion-label>Tipo</ion-label>
            <ion-input placeholder="ex: Jato" [(ngModel)]="this.contato.tipo"></ion-input>
          </ion-col>
          <ion-col size="6" class = "botoes">
            <ion-button (click) = "getContatos()" class = "botao1">Consultar</ion-button>
            <ion-button (click) = "cadastrar()" class = "botao2">Cadastrar</ion-button>
          </ion-col>
        </ion-row>
      
        <ion-row class="ion-justify-content-center">
          <ion-col size="6" *ngIf="getContatos === true> 
            <ion-card class = "lista">
              <ion-card-header>
                <ion-card-title>Lista</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-label class = "titulos">
                    <h3>ID</h3>
                    <h3>Modelo</h3>
                    <h3>Marca</h3>
                    <h3>Ano</h3>
                    <h3>Tipo</h3>
                    <h3>Ação</h3>
                </ion-label>
              </ion-card-content>
              <ion-card-content>
                <ion-item *ngFor="let contato of contatos">
                  <ion-label class = "itens">
                    <p>{{ contato.id }}</p>
                    <p>{{ contato.modelo }}</p>
                    <p>{{ contato.marca }}</p>
                    <p>{{ contato.ano }}</p>
                    <p>{{ contato.tipo }}</p>
                    <ion-button color="danger" (click)="deletar(contato.id)">
                      <ion-icon name="trash-outline"></ion-icon>
                    </ion-button>
                  </ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>      
  </ion-content>
  