ion-row{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

ion-title, ion-card-titles{
    font-weight: bold;
}

ion-input{
    margin-top: 10px;
    background-color: #b0b7b8;
    border-radius: 15px;
}

ion-input::placeholder{
    margin-top: 5px;
}

.botoes{
    margin-top: 5px;
    display: flex;
    justify-content: end;
}

ion-label, h3, ion-card-title{
    font-weight: 700;
}

.lista {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.titulos, .itens {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.itens{
    gap: 6rem;
}

.titulos{
    gap: 4rem;
}